<header>
    <nav>
        <ul class="nav-ul">
            <li class="nav-li"><a href="/">Submit a Review</a></li>
            <li class="nav-li"><a href="/all">Reviews</a></li>
        </ul>
    </nav>
</header>